@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

.custom-font-family{
    font-family: 'Montserrat', sans-serif;
}
.nav-footer-background-color {
        background-color: #0E0F10;
      }
.text-color {
        color: #fafafa;
      }
.grey-background {
        background-color: #ffffff;
      }
.head-name{
        padding-bottom:20px; 
        padding-top:10px;
      }
.headings{
    margin-top:15px;
}
.about {
        text-align: center;
        padding: 20px;
      }
.about-div {
        margin-top: -90px;
      }
.main-about-section{
    padding:35px;
}
.pr-35{
    padding-right:35px;
}

.pl-35{
    padding-right:35px;
}
.intro-section{
    background-color: #070708;
    padding: 30px;
    border-radius: 15px;
}
.designation{
        padding-top: 15px;
        color:#8c8c8c;
        font-family: sans-serif;
        font-size: 18px;
      }
.small-bar{
        margin-bottom: 25px;
        width:48px !important;
        border: 1px solid;
        border-image: linear-gradient(to right, #ac32e4 0%, #ac32e4 20%, #e833b0 100%) 1 !important;
      }
.shadow-custom {
        box-shadow: 0 12px 10px -5px #111 !important
      }
.who-i-am{
       padding: 35px !important; 
       background-color: #ffffff;
      }
.p3{
        padding: 30px;;
      }
.letterSpacing{
        letter-spacing: 1;
      }
.get-in-touch-form{
        margin-bottom: -60px;
        z-index:999
      }
.btm-gradient{
    margin-top:20px;
    color: #ffffff !important;
    border-radius: 5px !important;
    background: linear-gradient(to right, #ac32e4 40%, #e833b0 100%)!important;
    transition: all .45s ease-out;
}
.btn:hover{
    color: #ffffff;
    background: linear-gradient(to right, #ac32e4 40%, #e833b0 100%)!important;
    /* background: #00B7F8 ; */
}
#git-link:hover{
    color: #ffffff;
    text-decoration: none;
}
.p-10{
    padding:10px;
}
.card{
    overflow: hidden;
}
.div-background-color{
    background-color: #0E0F10;
}
.main-contact-section{
    background-color: #070708;
    padding: 30px;
    color: #00B7F8;
    border-radius: 15px;
    position: relative;
   
}

.main-services-section{
    background-color: #070708;
    padding: 15px;
    border-radius: 15px;
}
.services-logo{
    font-size: 35px !important;
    background-color: #0E0F10;
    padding:20px;
    color: #00B7F8;
    margin-top: 15px;;
    margin-bottom: 25px;
    border-radius: 33px;
}
.nav-bar-custom{
    padding-bottom: 100px;
}
.nav-items{
    display: inline;
    color: #ffffff;
    padding:5px;
    font-size: 22px;
   
}
.custom-social-link{
    /* display: inline; */
    color: #00B7F8;
    padding:10px;
    background-color: #0E0F10;
    border-radius: 5px;
    font-size: 25px;
}
.custom-social-link:hover{
    color: #ffffff !important;
    background: linear-gradient(to right, #ac32e4 20%, #e833b0 100%);
}